<div class="row">
    <div class="box col-md-6">
        <h2 class="title">编辑消息模板</h2>
        <%= render 'form' %>
    </div>
</div>

<%= link_to '查看', message_config_message_template_path %> |
<%= link_to '返回', message_config_message_templates_path(@message_config) %>
