<div class="row box">
    <h2 class="title">消息模板</h2>
    <%= render 'table' %>
    <%= link_to '新建消息模板', new_message_config_message_template_path(@message_config), class: 'btn btn-primary btn-sm' %>
</div>

