<p id="notice"><%= notice %></p>

<%= render 'show' %>

<%= link_to 'Edit', edit_message_config_message_template_path %> |
<%= link_to 'Back', message_config_message_templates_path(@message_config) %>
