<div class="row">
    <div class="box col-md-6">
        <h2 class="title">编辑策略模板</h2>
        <%= render 'form' %>
    </div>
</div>
<%= link_to '查看', message_config_template_strategy_path(@message_config, @template_strategy) %> |
<%= link_to '返回', message_config_template_strategies_path %>
