<p id="notice"><%= notice %></p>
<%= render 'show' %>
<%= link_to 'Edit', edit_message_config_template_strategy_path(@message_config, @template_strategy) %> |
<%= link_to 'Back', message_config_template_strategies_path %>
